################################################################################
##          FICHIER DE CONFIGURATION APACHE (serveur web)                     ##
################################################################################


# Jeux de caractères par défaut
AddDefaultCharset utf-8